

body {
    background-image:url('back.jpg');
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}   

input[type="text"] {
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    border-bottom: 4px solid #ccc;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 12px 20px;
    font-size: 16px;
}
.btn-primary {
    background-color: #4CAF50;
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    border-bottom: 4px solid #ccc;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 12px 20px;
    font-size: 16px;
}
.predict-btn {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    display: inline-block;


}